
 html {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
  }
  
body {
	margin: 0;
	font-family: 'Merriweather', serif;
}

.content {
	  max-width:1000px;
	  margin-left:auto;
	  margin-right:auto;
}
.header{
	position:static;
	z-index:200;
	width:100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
.header{
	position:fixed;
}
}
.grid-wrapper {

  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
	
}

.header > .grid-wrapper {position:relative;}

.menu-active {
	background:rgba(255,255,255, 1.0);
	transition: background-color 300ms;
	}
	
	.menu {
	/* display:block; */
	display:none;
	margin-top: 14px;
	grid-column: span 9;
	font-family: 'Merriweather', serif;
	font-size:1.5em;
	margin-right: 0.5em;
	}
	
	@media only screen and (min-width: 570px) {
  /* For tablet: */
.menu{
		grid-column: col-end / span 10;
	}
}
	
	@media only screen and (min-width: 768px) {
  /* For desktop: */
.menu{
	display:none;
	margin-top: 68px;
	    margin-right: 0;
	}
}
	

	
	.menu ul {
		    list-style: none;
	}

.menu-link {padding:3px 3px 0;
	color:#042d93;
	text-decoration:none;
	border-bottom: 3px solid #f7d5ca;
  box-shadow: inset 0 -4px 0 #f7d5ca;
  cursor: pointer;
  transition: background-color 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
	}
	
	.menu-link:hover, .menu-link:focus {
  background-color: #f7d5ca;
}

.menu ul > li{display:inline-block;margin-right:0.5em;}

.menu ul > li:last-of-type{margin-right:0;}
	
.menu-active .menu {display:block;}

.grid-span-12 {
	grid-column: col-start / span 12;
}
.grid-span-6 {
	grid-column: span 6;
}
.grid-span-3 {
	grid-column: span 3;
}
.grid-span-4 {
	grid-column: span 4;
}
.grid-span-2 {
	grid-column: span 2;
}

.content-col {
    grid-column: col-start 1 / span 12;
}

.panel-intro__name {
    text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight:300;
	font-size:1.5em;
	color:#fff;
	margin:0;
	z-index:1;
}

.panel__text--big {
	z-index: 1;
	font-family: 'Merriweather', serif;
	font-size:3em;
	line-height:1.2em;
	margin:0;
}

@media only screen and (min-width: 768px) {
	.panel__text--big {
		font-size:3.5em;
	}
}

.quote {
	quotes: "\201C""\201D""\2018""\2019";
	padding-left:0.5em;
}

.quote:before {
	content: open-quote;
	margin-left:-0.6em;
}
.quote:after {
	content: close-quote;
}

.panel-has-bg--blue .panel__text--big {
	color:#f7d5ca;
}

.panel-has-bg--pink .panel__text--big {
	color:#042d93;
}


.panel-link{padding:3px 3px 0;
	color:#042d93;
	text-decoration:none;
	border-bottom: 3px solid #f7d5ca;
  box-shadow: inset 0 -4px 0 #f7d5ca;
  cursor: pointer;
  transition: background-color 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
	}
	
	.panel-link:hover, .panel-link:focus {
  background-color: #f7d5ca;
}

.panel-has-bg--pink  .panel-link:hover, .panel-has-bg--pink  .panel-link:focus {
  background-color: #fff;
}

.panel-has-bg--pink .panel-link {
	border-bottom: 3px solid #fff;
	box-shadow: inset 0 -4px 0 #fff;
	margin-top:2em;
}



@media only screen and (min-width: 768px) {
  /* For desktop: */
.content-col {
	grid-column: col-start 3 / span 10;
}
}



.content-col--2col {
	    -webkit-column-count: 1;
            column-count: 1;
}

@media only screen and (min-width: 570px) {
  /* For tablet: */
.content-col--2col {
	    -webkit-column-count: 2;
            column-count: 2;
			    column-rule: 1px solid #f7d5ca;
				column-gap:30px;
}
}

.content-col--2col p {
	margin-top:0;
	text-align: left;
	line-height:1.6;
	}
	
@media only screen and (min-width: 570px) {
  /* For tablet: */
.content-col--2col p {
	text-align: justify;
	}
}

  

.circle {
    border-radius:1000px;
	background-color:#fff;
	width:100px;
	height:100px;
	padding:10px;
	text-align:center;
	margin:0 auto;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom:-2em;
}

.panel--offer {
		text-align:center;
		color:#fff;
}

.panel--offer .circle {
	position:relative;
}

.panel--offer .hat {
	position: absolute;
	top:5px;
}

.panel--offer .heading {
	color:#000;
	background-color:#f7d5ca;
	text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
	padding: 0.2em 1em;
	font-size:1em;
	display:inline-block;
	bottom: -5px;
    position: absolute;
}

.panel--offer ul,
.panel--skills ul {
	list-style:none;
	margin:3em 0 0;
	padding:0;
}

.panel--skills h5 {
    text-align: center;
	margin:1em 0;

}



.panel--skills h4 {
	font-family: 'Oswald', sans-serif;
		font-size:0.8em;
		text-align:center;
		margin:0;
}
@media only screen and (min-width: 768px) {
	.panel--skills h4 {
			font-size:1em;
	}
}

.nice-box {
	border:2px solid #042d93;
	position:relative;
    background-color: #f7d5ca;
	margin:0.5em 0 0;
}

.skills-graph {
	height:300px;
	padding-top: 1.5em;
	margin-bottom: 3em;
}


@media only screen and (min-width: 768px) {
.nice-box:before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #f7d5ca;
    top: 10px;
    left: 10px;
    width: 100%;
    z-index: -1;
}	

.nice-box {
	background-color: transparent;
	padding-top: 0;
}
	
}




.skills-graph .grid-span-2 {position:relative;}

.skills-graph ul {
	width: 100%;
	position:absolute;
	bottom:1em;
	grid-gap:1%;
}

.top-hat {
	width: 56px;
    display: block;
    position: relative;
	margin: 0 auto 10px;

	}
	
		.top-hat__top {
		position:absolute;
	display:inline-block;
	background-color:#738290;
	width:30px;
	height:50px;
	bottom:2px;
	left:13px;
	z-index:300;
	margin:0 auto;
	border-top-left-radius: 5px;
	border-top-right-radius:5px;
	transition:height 100ms ease-out;
	}
	
	.top-hat__cover {
	position:absolute;
	display:inline-block;
	z-index:200;
	background-color:#f7d5ca;
	width:58px;
	height:40px;
	bottom:10px;
	left:-1px;
	margin:0 auto;
}

.top-hat__brim {
	position:absolute;
	display:inline-block;
	border: 3px solid #738290;
	width:50px;
	height:40px;
	border-radius:1000px;
	bottom:0;
	left:0;
	margin:0 auto;
	}

@media only screen and (min-width: 768px) {
	.panel--skills h4 {
   margin-top:0.5em;
}
	.panel--skills h5 {
    bottom: 25px;
    left: 39%;
	color: #fff;
    position: absolute;
    text-align: center;
    z-index:300;
}

.top-hat {
	width: 85px;
	}
.top-hat__cover {

	width:87px;


}
.top-hat__brim {
	width:79px;
	height:40px;
	border-radius:1000px;
	}
	
	.top-hat__top {
		position:absolute;
	display:inline-block;
	width:44px;
	height:50px;
	bottom:2px;
	left:21px;
	z-index:300;
	margin:0 auto;
	border-top-left-radius: 5px;
	border-top-right-radius:5px;
	transition:height 100ms ease-out;
	}
	
}
	
	.top-hat__top--grow-1 {
			height:195px;
			transition:height 175ms ease-out;
	}
	
		.top-hat__top--grow-2 {
			height:180px;
			transition:height 200ms ease-out;
	}
.top-hat__top--grow-3 {
			height:190px;
			transition:height 215ms ease-out;
	}
	.top-hat__top--grow-4 {
			height:165px;
			transition:height 225ms ease-out;
	}
		.top-hat__top--grow-5 {
			height:150px;
			transition:height 230ms ease-out;
	}
			.top-hat__top--grow-6 {
			height:175px;
			transition:height 232ms ease-out;
	}
.panel--offer ul > li {
	margin:0.5em 0;
	
}

.panel--offer ul > li:after {
	background-position: center;
    display: block;
    content: '\2605';
	color:#A1B5D8;
    margin: 12px auto;
}

@media only screen and (max-width: 500px) {
	.dropcap:first-letter {
    float: left;
    margin: 0.05em .8rem 0 0;
    font-size: 3.653em;
    line-height: 1;
    color: #fff;
	width:40px;
	height:40px;
	background-color:#f7d5ca;
	padding:0 0.3em;
	position:relative;
}
}



@media only screen and (min-width: 768px) {
.circle {
	width:100px;
	height:100px;
}
}


.burger {
	display:none;
	z-index:300;
}

.burger * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor:pointer;
}

@media only screen and (min-width: 768px) {
  /* For tablet: */
.burger {
	/* display:block; */
	display:none;
	position:absolute;
	background-color:#fff;
	width:50px;
	height:50px;
	text-align:center;
	border-radius:1000px;
    left: 36px;
    top: 176px;

	transition:top 500ms linear;
}
}

@media only screen and (min-width: 1215px) {
  /* For desktop: */
.burger {
	position:absolute;
	background-color:#fff;
	width:50px;
	height:50px;
	text-align:center;
	border-radius:1000px;
	left: -100px;
    top: 77px;
    transition:left 500ms linear;
}
}

.menu-icon {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin-top:5px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0;
  padding-top: 12px;
  transition: all 500ms cubic-bezier(1.000, 0.000, 0.645, 0.650);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.menu-icon__line {
  display: block;
  position: relative;
  background: #000;
  width: 26px;
  height: 2px;
  border-radius: 1px;
  transition: all 300ms;
  margin: 0 auto;
}

.menu-icon__line--1 {
  top: 0;
  animation: topbar-back 500ms;
  animation-fill-mode: both;
  animation-play-state: initial !important;
}

.menu-icon__line--2 { opacity: 1; }

.menu-icon__line--3 {
  bottom: 0;
  animation: bottombar-back 500ms;
  animation-fill-mode: both;
  animation-play-state: initial !important;
}

.menu-icon__line + .menu-icon__line {
  margin-top: 5px;
}

.toggled .menu-icon__line--1 {
  top: 25%;
  animation: topbar-x 500ms;
  animation-fill-mode: both;
}

.toggled .menu-icon__line--2 {
  opacity: 0;
}

.toggled .menu-icon__line--3 {
  bottom: 25%;
  animation: bottombar-x 500ms;
  animation-fill-mode: both;
}

@keyframes topbar-x {
  0% {
    top: 0;
    -webkit-transform: rotate(0deg);
  }

  45% {
    top: 25%;
    -webkit-transform: rotate(145deg);
  }

  75% {
    -webkit-transform: rotate(130deg);
  }

  100% {
    -webkit-transform: rotate(135deg);
  }
}

@keyframes topbar-back {
  0% {
    top: 25%;
    -webkit-transform: rotate(135deg);
  }

  45% {
    -webkit-transform: rotate(-10deg);
  }

  75% {
    -webkit-transform: rotate(5deg);
  }

  100% {
    top: 0;
    -webkit-transform: rotate(0);
  }
}

@keyframes bottombar-x {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0deg);
  }

  45% {
    bottom: 25%;
    -webkit-transform: rotate(-145deg);
  }

  75% {
    -webkit-transform: rotate(-130deg);
  }

  100% {
    -webkit-transform: rotate(-135deg);
  }
}

@keyframes bottombar-back {
  0% {
    bottom: 25%;
    -webkit-transform: rotate(-135deg);
  }

  45% {
    -webkit-transform: rotate(10deg);
  }

  75% {
    -webkit-transform: rotate(-5deg);
  }

  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
  }
}



.logo {
	grid-column: col-start / span 2;
	border-radius:1000px;
	background-color:#fff;
	width:100px;
	height:100px;
	text-align:center;
	padding:10px;
	z-index: 300;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
.logo {

	margin-top:40px;
    margin-bottom:40px;

}
}
.hat {
	margin-top:15px;
	width:80px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	background-size:contain;
	background-repeat:no-repeat;
	transition: margin 300ms;
}

.stetson {
	height:43.09px;
	background-image:url("../img/hat-stetson.svg");

	}
	
	.che {
		    margin-top: 23px;
			margin-bottom:5px;
	height:23.09px;
    width: 59px;
	background-image:url("../img/hat-che.svg");
	}

	.hard {
		height: 42.09px;
    width: 60px;
		margin-bottom:2px;
background-image:url("../img/hat-hard.svg");
}
	
		.trilby{
	height:43.09px;
	background-image:url("../img/hat-trilby.svg");

	}

.specs {
	width:60px;
	transition: margin 300ms;
}


.flex-align {
	display:flex;

}

.flex-align--v {
	align-items: center;
  flex-direction:row;
}

.flex-align--h {
	    justify-content: center;
  width:100%;
  display:inline-flex;
}
.panel {
	padding:1em 1em 4em;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
.panel {
	padding:1em 0.5em 4em;
}
}


.flex-horz-equal {
	display:flex;
	justify-content:space-evenly;
}

.flex-horz-equal img {
	width:120px;
}

@media only screen and (min-width: 768px) {
	.flex-horz-equal img {
		width:auto;
	}
}




.panel-has-bg {
	  position: relative;
	  min-height:400px;
	  z-index: 100;
}
.panel-has-bg--blue {
	background-color:#042d93;
}

.panel-has-bg--pink {
	background-color:#f7d5ca;
}



.panel__image {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
.panel__image {
        background-size: contain;
		background-position: right;

}

}
.panel__image--wayne {
  background-image:url("../img/john-wayne-dots.jpg");
  background-blend-mode: darken;     
  background-color:#042d93;
  opacity:0.6;
  z-index: -1;
}

.panel__image--che {
background-image:url("../img/che-guavara-dots.jpg");
  background-blend-mode: darken;
   background-color:#042d93;
   opacity:0.6;
       z-index: -1;
}

.panel__image--pope {
	background-image:url("../img/pope-dots.jpg");
		background-blend-mode: multiply;
		 background-color:#042d93;
		 opacity:0.6;
				 z-index: -1;
	}

	.panel__image--boris {
		background-image:url("../img/johnson-dots.jpg");
	    background-blend-mode:darken;
	    background-color:#f7d5ca;
		opacity:0.1;
		z-index: -1;
		}

.content__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;	
}
.content__header h2 {
	text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
	text-align:center;
	font-size:2em;
}


.panel-has-bg--blue .content__header h2 {
	color:#fff;
}

.panel-has-bg--pink .content__header h2 {
	color:#222;
}

.panel-has-bg--pink .content__header h3 {
	color:#738290;
}



.text-center {text-align:center;}

.buzzwords li{
	display:inline-block;
	    text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight:bold;
	font-size:1.1em;
	padding:0.4em 0.6em;
	    border: 2px solid #042d93;
		margin:0.4em 0.3em;
	position:relative;
}

.buzzwords li:before {
    content: '';
    position: absolute;
    /* background-color: #f7d5ca; */
    top: 6px;
    left: 6px;
    width: 100%;
		height:100%;
		z-index: -1;
		background-color:transparent;
		background-size:3px 3px;
		background-repeat:repeat;
		background-image:url("../img/dot.svg");
}


.wiggly-line--before:before {
margin-top: 1em;
    margin-bottom: 1em;
    content: "";
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 0.4em;
    height: 8px;
    background-image: url(../img/wiggle-pink.svg);
    background-repeat: repeat-x;
    background-size: 25px;
    max-width: 176px;
}

.wiggly-line--after:after,
.content__header h2:after  {
    content:"";
	text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
	position:relative;
	top:0.1em;
	height: 8px;
    background-image: url(../img/wiggle-pink.svg);
    background-repeat: repeat-x;
    background-size: 25px;
	
}

.panel-has-bg--pink .content__header h2:after {
	background-image: url(../img/wiggle-blue.svg);
}
.content__header h3 {
	font-family: 'Merriweather', serif;
	text-align:center;
	font-size:0.75em;
	position:relative;
	top:-2.6em;
	padding:0 5px;
	font-weight:300;
	color:#738290;
}

.panel-has-bg--blue .content__header h3 {
	color:#A1B5D8;
}

.content-col p,
.content-col ul{
	font-family: 'Merriweather', serif;
	font-size:1em;
}

.achievements-list {
	margin-left:0;
	padding-left:0;
}

.achievements-list li:nth-child(1):before{
	background-image: url(../img/rosette4.svg);
}

.achievements-list li:nth-child(2):before{
	background-image: url(../img/rosette2.svg);
}

.achievements-list li:nth-child(3):before{
	background-image: url(../img/rosette3.svg);
}

.achievements-list li:before {
	content: '';
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	display: inline-block;
	left: -55px;

}

.achievements-list li {
	list-style: none;
	color:#fff;
	position:relative;
	margin-bottom:2.5em;
	margin-left:60px;
}

.footer {
	background-color:#738290;
	color:#fff;
	padding:1.5em;
	text-transform: uppercase;
		font-family: 'Oswald', sans-serif;
		font-size:0.8em;

}

@media only screen and (min-width: 768px) {
	.footer {
		padding:1.5em 0;
	}
}

.copyright{
	float:left;
}
.footer .menu{
	float:right;
	/* display:block; */
	display:none;
	margin-top:0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: inherit;
	font-weight:regular;
}

.footer .menu ul {
	padding:0;
	margin:0;
}

.footer .menu-link {
	padding: 3px 3px 0;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #f7d5ca;
	box-shadow: none;
	cursor: pointer;
}

.footer .menu-link:hover {
	color:#738290;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


@keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(10px);
    }

    80% {
        -webkit-transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes bump {
    0% {
        -webkit-transform: translateY(0);
    }

    55% {
        -webkit-transform: translateY(0);
    }

    80% {
        -webkit-transform: translateY(5px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}
.bounceInDown {
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    -o-animation-name: bounceInDown;
    animation-name: bounceInDown;
}
.bump {
	    -webkit-animation-name: bump;
    -moz-animation-name: bump;
    -o-animation-name: bump;
    animation-name: bump;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;

}
