---
import "@fontsource/merriweather/latin-300.css";
import "@fontsource/merriweather/latin-400.css";
import "@fontsource/oswald/latin-300.css";
import "../styles/site.css";
const {
  title,
  bodyClass,
  preloadImage = "/img/wayne-pop.webp"
  } = Astro.props;
---

<html class="no-js" lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{title ? `Dean Weston | ${title}` : "Dean Weston"}</title>
    <meta
      name="description"
      content="Front end developer and digital consultant specialising in enterprise content management systems, headless architecture, accessibility, performance and higher education digital transformation"
    />
    <meta name="author" content="Dean Weston" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@graph": [
          {
            "@type": "Person",
            "@id": "https://www.deanweston.co.uk",
            "name": "Dean Weston",
            "description": "Senior front-end developer specialising in CMS architecture, accessibility and digital platforms.",
            "jobTitle": "Front-End Developer & Digital Consultant",
            "url": "https://www.deanweston.co.uk",
            "mainEntityOfPage": "https://www.deanweston.co.uk",
            "worksFor": {
              "@type": "Organization",
              "name": "University of Leicester",
              "url": "https://le.ac.uk"
            },
            "knowsAbout": [
              "Sitecore CMS",
              "Headless CMS",
              "Azure DevOps",
              "Contensis CMS",
              "Higher Education Digital Strategy",
              "CMS Architecture",
              "Digital Transformation",
              "Accessibility (WCAG 2.2)",
              "Front-End Engineering",
              "JavaScript",
              "Performance Optimisation",
              "Google Analytics 4",
              "Design Systems"
            ],
            "sameAs": [
              "https://www.linkedin.com/in/dean-weston-61b23716/",
              "https://github.com/thehatsofdean"
            ]
          },

          {
            "@type": "ProfilePage",
            "@id": "https://www.deanweston.co.uk",
            "url": "https://www.deanweston.co.uk",
            "mainEntity": {
              "@id": "https://www.deanweston.co.uk"
            }
          },

          {
            "@type": "AboutPage",
            "@id": "https://www.deanweston.co.uk/#about",
            "url": "https://www.deanweston.co.uk",
            "name": "About Dean Weston",
            "about": {
              "@id": "https://www.deanweston.co.uk/#deanweston"
            }
          },

          {
            "@type": "WebSite",
            "@id": "https://www.deanweston.co.uk/#website",
            "name": "Dean Weston",
            "url": "https://www.deanweston.co.uk",
            "author": {
              "@id": "https://www.deanweston.co.uk/#deanweston"
            }
          }
        ]
      }
    </script>
    <link rel="me" href="https://www.linkedin.com/in/dean-weston-61b23716/" />
    <link rel="me" href="https://github.com/thehatsofdean" />
    <link rel="alternate" hreflang="en-gb" href="https://deanweston.co.uk/" />
    <link
      rel="preload"
      as="image"
      href={preloadImage}
      fetchpriority="high"
    />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180x180.png" />
    <!-- Place favicon.ico in the root directory -->
    <script>
      import "../scripts/main.js";
    </script>
  </head>
  <body class={bodyClass}>
    <a class="skip-link" href="#main">Skip to content</a>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
        <header>
      <div class="header">
        <div class="grid-wrapper content">
          <button class="burger js-menuTrigger">
            <div class="menu-icon">
              <span class="visually-hidden">Toggle Navigation</span>
              <span class="menu-icon__line menu-icon__line--1"></span>
              <span class="menu-icon__line menu-icon__line--2"></span>
              <span class="menu-icon__line menu-icon__line--3"></span>
            </div>
          </button>
          <div class="logo">
            <div class="top hat stetson bounceInDown animated"></div>
              <img
                class="bottom specs bump animated"
                src="/img/specs.svg"
                width="60px"
                height="20px"
                alt="Dean's large Eric Morcambe style Spectacles"
              />
            </div>
          <div class="menu">
            <nav>
              <ul>
                <li><a href="/">About me</a></li>
                <!--<li><a href="#">Work</a></li>-->
                <li><a href="/journal">Journal</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <main id="main">
      <slot />
   </main>
  <footer>
      <div class="footer">
        <div class="grid-wrapper content">
          <div class="content-col">
            <div class="copyright">
              Copyright &copy; <span class="js-year"></span> - Dean Weston    
            </div>
            <ul class="social-links">
              <li>
                <a href="https://www.linkedin.com/in/dean-weston-61b23716/" class="social-links__link">
                  <span class="visually-hidden">Follow Dean on LinkedIn</span>
                  <svg class="icon"
                    xmlns="http://www.w3.org/2000/svg"
                    shape-rendering="geometricPrecision"
                    text-rendering="geometricPrecision"
                    image-rendering="optimizeQuality"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    viewBox="0 0 512 512">
                      <path fill="currentColor" d="M474.919 0H38.592C17.72 0 0 16.504 0 36.841V475.14C0 495.496 11.629 512 32.492 512h436.327C489.718 512 512 495.496 512 475.14V36.841C512 16.504 495.809 0 474.919 0zM195.043 195.043h68.928v35.136h.755c10.505-18.945 41.541-38.177 79.921-38.177 73.655 0 94.214 39.108 94.214 111.538v135.321h-73.148V316.883c0-32.427-12.947-60.883-43.227-60.883-36.768 0-54.295 24.889-54.295 65.758v117.103h-73.148V195.043zM73.139 438.861h73.148V195.043H73.139v243.818zm82.289-329.148c0 25.258-20.457 45.715-45.715 45.715-25.258 0-45.715-20.457-45.715-45.715 0-25.258 20.457-45.715 45.715-45.715 25.258 0 45.715 20.457 45.715 45.715z"/>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://github.com/thehatsofdean" class="social-links__link">
                  <span class="visually-hidden">Follow Dean on Github</span>
                  <svg class="icon"
                    xmlns="http://www.w3.org/2000/svg"
                    shape-rendering="geometricPrecision"
                    text-rendering="geometricPrecision"
                    image-rendering="optimizeQuality"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    viewBox="0 0 512 499.368">
                      <path fill="currentColor" fill-rule="nonzero" d="M256.003 0C114.555 0 0 114.555 0 256.003c0 113.286 73.28 208.961 175.038 242.865 12.796 2.247 17.586-5.433 17.586-12.153 0-6.077-.309-26.225-.309-47.686-64.313 11.844-80.941-15.674-86.058-30.055-2.896-7.37-15.359-30.1-26.269-36.177-8.948-4.808-21.752-16.652-.31-16.961 20.168-.309 34.574 18.564 39.382 26.244 23.038 38.732 59.839 27.828 74.555 21.101 2.227-16.627 8.947-27.828 16.318-34.239-56.968-6.386-116.467-28.471-116.467-126.399 0-27.827 9.907-50.866 26.225-68.787-2.562-6.41-11.51-32.655 2.562-67.853 0 0 21.436-6.72 70.409 26.244 20.483-5.767 42.227-8.638 63.998-8.638 21.751 0 43.52 2.896 63.997 8.638 48.973-33.279 70.39-26.244 70.39-26.244 14.09 35.192 5.117 61.443 2.562 67.853 16.318 17.921 26.244 40.625 26.244 68.787 0 98.237-59.84 119.988-116.801 126.399 9.282 8.014 17.277 23.373 17.277 47.371 0 34.238-.309 61.751-.309 70.389 0 6.721 4.808 14.735 17.586 12.179C438.739 464.964 512 368.955 512 256.003 512 114.555 397.445 0 256.003 0z"/>
                  </svg>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </footer>
  </body>
</html>